.Tabela{
    width: 70%;
    height:800px;
    display: flex;
    align-items: center;
    margin-left:200px ;
}

/* table th{
    width: 50px;
} */

thead th {
    font-family: Arial, Helvetica, sans-serif;
    height:50px;
    font-size: 21px;
}